#resume-form {
	max-width: 450px;
	text-align: center;
}

#resume-form > form {
    display: inline-block;
}

.jumbotron {
	color: white;
	background-color: #01b285;
	max-height: 5000x;
}

.nav-pills > li > a{
	margin-right: 30px;
}

.tab-content {
	width: auto;
}

.well {
	margin: 10px 60px 0 40px;
	color: #337ab7;
}

#add-experience {
	display: inline block;
}

.pill-color a,
.pill-color a:focus {
	background-color: #265c8b;
}

.pill-color a:hover,
.pill-color a:active,
.pill-color a:link {
	background-color: #337ab7 !important;
}

#select-template {
	max-width: 250px;
	margin-top: 15px;
	margin-bottom: 15px;
	
}


#generate-button{
	max-width: 250px;
}

.asteriskField{
	color: red;
}

.glyphicon {
	font-size: 40px;
    display:block;
    text-align:center;
}

.carousel {
	height: 760px;
	width: 530px; 
	margin: 0 auto;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    width: 530px;
    height: 760px;
}

body{
	background-color: #ecf1f4;
}

.nav-pills > li > a {
	color: white;
}

.previous-step {
	margin-right: 20px;
	margin-bottom: 10px;
}

.next-step {
	margin-bottom: 10px;
}